body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.125rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5625rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 0;
}

a {
  color: #11999E;
}

hr {
  border: dotted 6px #eaf6f6;
  width: 5%;
  border-bottom: none;
  margin-top: 2em;
  margin-bottom: 2.375em;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 13.75rem;
  top: 3.125rem;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 13.75rem;
  bottom: 18.75rem;
}

.middle-container {
background-color: white;
padding-top: 3em;
}

.profile {
  background-color: white;
}

.profile-blurb {
width: 30%;
margin: auto;
}

.my-skills {
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.social-media-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.seo-img {
  width: 25%;
  float:right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 3em;
}

.footer-link {
  padding-left: 2em;
  padding-right:2em;
}

.copywrite {
  color: #eaf6f6;
  padding-top: 2em;
}

.myButton {
	background:linear-gradient(to bottom, #66bfbf 5%, #4d8a8a 100%);
	background-color:#66bfbf;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	padding:16px 31px;
  margin-top: 20px;
  margin-bottom: 60px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:linear-gradient(to bottom, #4d8a8a 5%, #66bfbf 100%);
	background-color:#4d8a8a;
}
.myButton:active {
	position:relative;
	top:1px;
}
